<!doctype html>
<html lang="fr">
<head>
    <title>{% block title %}{{ headers.title }}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" type="image/png" href="image/favicon.png">
    <link href="css/main.css" rel="stylesheet" type="text/css" media="screen">
    <!--[if IE]>
    <script src="css/html5-ie.js"></script><![endif]-->
</head>
<body>
<!-- HEADER ======================================================== -->
<header>
    <h1><a href="#"><span class="invisible">The Apache software fondation</span></a></h1>

    <form action="http://www.google.com/cse" id="searchbox_010475492895890475512:_t4iqjrgx90">
        <input type="hidden" value="010475492895890475512:_t4iqjrgx90" name="cx">
        <input type="hidden" value="FORID:0" name="cof">
        <input type="text" size="25" name="q"
               style="border: 1px solid rgb(126, 157, 185); padding: 2px; background: url(&quot;http://www.google.com/cse/intl/en/images/google_custom_search_watermark.gif&quot;) no-repeat scroll left center rgb(255, 255, 255);">
        <input type="submit" value="Search" name="sa">
        <input type="hidden" name="siteurl" value="openEJB.html"><input type="hidden" name="siteurl"
                                                                        value="openEJB.html"></form>

    <nav>
        <h2><a href="#"><span class="invisible">{% block title %}{{ headers.title }}{% endblock %}</span></a></h2>

        <h3>Overview</h3>
        <ul>
            <li><a title="Index" href="index.html" class="active"><em>Home</em></a></li>
            <li><a title="news" href="news.html">News</a></li>
            <li><a title="FAQ" href="faq.html">FAQ</a></li>
            <li><a title="Download" href="download.html">Download</a></li>
            <li><a title="Documentation" href="documentation.html">Documentation</a></li>
            <li><a title="Examples" href="examples.html">Examples</a></li>
            <li><a title="Lightning Demos" href="lightningdemos.html">Lightning Demos</a></li>
            <li><a title="Mailing Lists" href="mailing-lists.html">Mailing Lists</a></li>
            <li><a title="Source Code" href="source-code.html">Source Code</a></li>
            <li><a rel="nofollow" class="external-link" href="#">Project Blog</a></li>

        </ul>
        <hr>
        <h3>Servers</h3>
        <ul>
            <li><a title="Local" href="#">Local</a></li>
            <li><a title="Remote" href="#">Remote</a></li>
        </ul>
        <h3>Integrations</h3>
        <ul>
            <li><a title="TomEE" href="tomee.html">TomEE</a></li>
            <li><a title="Tomcat" href="tomcat.html">Tomcat</a></li>
            <li><a title="Geronimo" href="geronimo.html">Geronimo</a></li>
            <li><a title="WebObjects" href="webobjects.html">WebObjects</a></li>
        </ul>
        <hr>
        <h3>Community</h3>
        <ul>
            <li><a title="Team" href="team.html">Team</a></li>
            <li><a title="Articles" href="articles.html">Articles</a></li>
            <li><a rel="nofollow" class="external-link" href="#">IRC</a></li>
        </ul>
        <hr>
        <h3>Related </h3>
        <hr>
        <h3>Projects</h3>
        <ul>
            <li><a rel="nofollow" class="external-link" href="http://activemq.apache.org/">ActiveMQ</a></li>
            <li><a rel="nofollow" class="external-link" href="http://openjpa.apache.org/">OpenJPA</a></li>
            <li><a rel="nofollow" class="external-link" href="http://cxf.apache.org/">CXF</a></li>
        </ul>
        <hr>
        <h3>Index</h3>
        <ul>
            <li><a href="#">Site Index</a></li>
            <li><a href="#">Doc Index</a></li>
        </ul>
        <hr>
        <h3>Feeds</h3>
        <ul>
            <li><a class="feed" href="http://cwiki.apache.org/confluence/spaces/rss.action?key=OPENEJB&newPages=false">Site</a>
            </li>
            <li><a class="feed" href="http://cwiki.apache.org/confluence/spaces/blogrss.action?key=OPENEJB">News</a>
            </li>
        </ul>
    </nav>
</header>
<!-- /HEADER ======================================================= -->

<!-- MAIN ========================================================== -->
<section class="main">

    <article class="aside">
        <div>
            <aside class="self">
                <section>
                    <h3><span>EJB3 Examples</span></h3>

                    <p>Looking for an example of how to use an EJB 3.0 or OpenEJB feature?</p>

                    <p>Check out the newly revised <a href="#">examples.</a> <br/>
                        Examples include:</p>
                    <ul>
                        <li><a href="#">Stateless</a></li>
                        <li><a href="#">Stateful</a></li>
                        <li><a href="#">Dependency Injection</a></li>
                        <li><a href="#">Java Persistence API</a></li>
                        <li><a href="#">Transaction</a></li>
                        <li><a href="#">Security</a></li>
                        <li><a href="#">...and more</a></li>
                    </ul>
                </section>
                <section>
                    <h3><span>OpenEJB Forums</span></h3>

                    <p>The Nabble site as wonderful support for turning regular mailing lists into online forums. We've
                        setup OpenEJB and our forums are now open for business. You can easily search and post to any of
                        our mailing lists via any of the links below:</p>
                    <ul>
                        <li><a href="#">OpenEJB Dev Forum
                        </a></li>
                        <li><a href="#">OpenEJB User Forum</a></li>
                    </ul>
                </section>
                <section class="facebook">
                    <h3 class="facebook">Facebook</h3>

                    <p><img src="image/logo_mini_openEJB.png" alt=""/>
                    <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.facebook.com/OpenEJB"></iframe>
                    </p>
                    <h3><span>Join us on Twitter</span></h3>

                    <p>...loading list</p>
                </section>
                <section>
                    <h3><span>Site Updates</span></h3>

                    <p>Recently Updated</p>
                    <ul>
                        <li><a href="#">Apache TomEELinks</a><br/>
                            updated by <a href="#">David Blevins</a><br/>
                            <a href="#">(view change)</a><br/>
                            less than a minute ago
                        </li>
                        <li><a href="#">TomEE</a><br/>
                            created by <a href="#">David Blevins</a><br/>
                            about 11 hours ago
                        </li>
                    </ul>
                </section>
            </aside>

            <!--welcome -->
            <section>
                {% block content %}{{ content|markdown }}{% endblock %}
            </section>

            <!--News -->
            <section>
                <h3><span>News</span></h3>

                <p class="date">Friday April 8, 2011</p>

                <p class="highlight">Apache OpenEJB Get-Together, Tours France, April 18th - 21st</p>
            </section>
        </div>
    </article>
    <!-- /article -->


</section>
<!-- /MAIN ========================================================= -->

<!-- FOOTER ======================================================== -->
<footer>
    <SPAN style="display: none">
    <SCRIPT type="text/javascript" language="JavaScript"
            src="http://cwiki.apache.org/confluence/labels-javascript"></SCRIPT>

    <SCRIPT src="http://www.google-analytics.com/urchin.js" type="text/javascript">
    </SCRIPT>
    <SCRIPT type="text/javascript">
        _uacct = "UA-2717626-1";
        urchinTracker();
    </SCRIPT>
  </SPAN>
</footer>
<!-- /FOOTER ======================================================= -->
</body>
</html>
