<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
  <head>
    <title>{% block title %}{{ headers.title }}{% endblock %}</title>

    <link href="/all.css" rel="stylesheet" type="text/css">
    <!--[if IE]><link rel="stylesheet" type="text/css" media="screen, projection" href="openejb.apache.org/ie.css"><![endif]-->

    <link href="/prettify.css" type="text/css" rel="stylesheet" />

    <script src="/javascript/prettify.js" type="text/javascript"></script>
    <script src="/javascript/jquery-latest.js"></script>
    <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
    <script src="/javascript/common.js"></script>
    <script src="/javascript/prettyprint.js"></script>
    <link rel="SHORTCUT ICON" href="http://openejb.apache.org/images/favicon.ico">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  </head>
  <BODY>

  <div id="container">
      <div id="navigation">
          <UL>
              <LI><A href="index.html" title="Index">Home</A></LI>
              <LI><A href="downloads.html" title="Download">Download</A></LI>
              <LI><A href="documentation.html" title="Index">Documentation</A></LI>
              <LI><A href="examples.html" title="Examples">Examples</A></LI>
              <LI><A href="mailing-lists.html" title="Mailing Lists">Mailing Lists</A></LI>
              <LI><A href="source-code.html" title="Source Code">Source Code</A></LI>
              <LI><A href="http://blogs.apache.org/openejb" class="external-link" rel="nofollow">Project Blog</A></LI>
              <LI><A href="faq.html" title="FAQ">FAQ</A></LI>
          </UL>
      </div>
      <div id="header">
          <h1>
              <div id="name">Apache TomEE<br>
              </div>
          </h1>
      </div>
      <div id="content">
          {% block content %}{{ content|markdown }}{% endblock %}
      </div>
      <div id="footer">
          <SPAN class="bodyGrey">
            <SMALL>
              <NOTICE><!-- $FOOTER -->
                Apache OpenEJB is an project of The Apache Software Foundation (ASF)
              </NOTICE>
            </SMALL>
          </SPAN>
      </div>
  </div>

  <SPAN style="display: none">
    <SCRIPT type="text/javascript" language="JavaScript"
            src="http://cwiki.apache.org/confluence/labels-javascript"></SCRIPT>

    <SCRIPT src="http://www.google-analytics.com/urchin.js" type="text/javascript">
    </SCRIPT>
    <SCRIPT type="text/javascript">
      _uacct = "UA-2717626-1";
      urchinTracker();
    </SCRIPT>
  </SPAN>

  </BODY>
</HTML>